*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  color: #444;
  line-height: 1.9;
  // background: #120b1c;
  // background: #11111d;
  // background: #191933;
}
::selection {
  background-color: #730039;
  color: greenyellow;
}
.container {
  display: grid;
  grid-template-rows: max-content 85vh repeat(8, min-content);
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]
    1fr [full-end];
}

.footer {
  background-color: darkslategray;
  grid-column: full-start / full-end;
  height: 400px;
}
