*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  // font-family: 'Josefin Sans', sans-serif;
  line-height: 1.9;
  background-color: #f8fafc;
  // background-color: #111827;
  color: #444;
  // color: white;
}
::selection {
  background-color: #730039;
  color: greenyellow;
}
.container {
  display: grid;
  grid-template-rows: max-content 86vh repeat(8, min-content);
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]
    1fr [full-end];
}

.footer {
  background-color: darkslategray;
  grid-column: full-start / full-end;
  height: 400px;
}
