$color-primary: #28b485;
$color-secondary: #ffcb03;
$color-tertiary: #fd7e14;

$color-primary-darker: #2b8a3e;
$color-secondary-darker: #ffbb00;
$color-tertiary-darker: #cf742a;

$color-primary-opacity: #5ec5763a;
$color-secondary-opacity: #ffcd0331;
$color-tertiary-opacity: #ff58602d;

$gradient-primary: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
$gradient-secondary: linear-gradient(
  43deg,
  #4158d0 0%,
  #c850c0 46%,
  #ffcc70 100%
);
